$header-font: "Noto Sans";

$body-font: 'Open Sans';

$home-shadow: 0 4px 10px -4px #6f808f9f;

$discover-shadow: 0px 11px 8px -4px rgba(31, 31, 31, 0.25);

$discover-gradient: linear-gradient(90deg, #FF7E5F 0%, #FEB47B 100%);

.lower {
    bottom: -10%;
}